* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	height: 100vh;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Roboto Condensed", sans-serif;
	overflow: hidden;
}

#particles-js {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7) url(bg.jpg);
	background-size: cover;
	background-position: center;
	background-blend-mode: darken;

	filter: contrast(0.975);
}

main {
	width: 590px;
	height: 300px;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.section-main {
	height: 210px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	flex-wrap: wrap;
	background: rgba(0, 0, 0, 0.7);
	backdrop-filter: blur(5px);
}

h1,
h2 {
	text-align: center;
}

h1 {
	font-weight: 400;
	font-size: 90px;
	/* letter-spacing: 1px; */
}

h2 {
	font-weight: 100;
	letter-spacing: 2px;
	word-spacing: 3px;
	font-size: 20px;
	font-family: "Roboto", sans-serif;
}

.section-bottom {
	height: 80px;
	display: flex;
	justify-content: space-between;
}

.tile {
	width: 23%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	display: flex;
	justify-content: center;
	align-items: center;
}

.tile:hover {
	backdrop-filter: brightness(150%);
}

@media screen and (max-width: 700px) {
	main {
		width: 400px;
	}
	h1 {
		font-size: 64px;
	}
	h2 {
		font-size: 16px;
	}
	.tile > img {
		scale: 90%;
	}
}
